repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: trailing-whitespace
    - id: check-json
    - id: check-yaml
    - id: check-merge-conflict
    - id: end-of-file-fixer

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.283
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]

-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
    - id: black
      language_version: python3.9
